# DataRoot University DS100 Test #3
На проходження тесту виділяється 112 хвилин.

## SQL

##### Відповідь до кожного завдання у цьому розділі записувати в наступну пусту строку в форматі sql запиту

### Коротка інформація про базу даних "Аерофлот":

Схема БД:

- Company (ID_comp, name)
- Trip (trip_no, ID_comp, plane, town_from, town_to, time_out, time_in)
- Passenger (ID_psg, name)
- Pass_in_trip (trip_no, date, ID_psg, place)

Таблиця Company містить ідентифікатор і назву компанії, що здійснює перевезення пасажирів.
```
```
Таблиця Trip містить інформацію про рейси: номер рейсу, ідентифікатор компанії, тип літака, місто відправлення, місто прибуття, час відправлення і час прибуття.
```
```
Таблиця Passenger містить ідентифікатор і ім'я пасажира.
```
```
Таблиця Pass_in_trip містить інформацію про польоти: номер рейсу, дата вильоту (день), ідентифікатор пасажира і місце, на якому він сидів під час польоту.
```
```
Зауваження:
* рейси виконуються щодня, а тривалість польоту будь-якого рейсу менше доби; town_from <> town_to;
* час і дата враховується щодо одного часового поясу;
* час відправлення і прибуття вказується з точністю до хвилини;
* серед пасажирів можуть бути однофамільці (однакові значення поля name, наприклад, Bruce Willis);
* номер місця в салоні - це число з буквою; число визначає номер ряду, буква (a - d) - місце в ряду зліва направо в алфавітному порядку;
* зв'язку і обмеження показані на схемі даних.

**Дамп**: **[aero_pg_script.sql](https://github.com/dataroot/DRU-DS100-w3/tree/master/tests/3/v3/aero_pg_script.sql)**.

### 1. Знайдіть всі рейси виконані літаком Boeing.
```
```
Довідка по темі:
* [Простий оператор SELECT](http://www.sql-tutorial.ru/ru/book_simple_select_statement/page1.html)
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 3хв
```

In [ ]:
1100	4	Boeing    	Rostov                   	Paris                    	1900-01-01 14:30:00.000000	1900-01-01 17:50:00.000000
1101	4	Boeing    	Paris                    	Rostov                   	1900-01-01 08:12:00.000000	1900-01-01 11:45:00.000000
7771	5	Boeing    	London                   	Singapore                	1900-01-01 01:00:00.000000	1900-01-01 11:00:00.000000
7772	5	Boeing    	Singapore                	London                   	1900-01-01 12:00:00.000000	1900-01-01 02:00:00.000000
7773	5	Boeing    	London                   	Singapore                	1900-01-01 03:00:00.000000	1900-01-01 13:00:00.000000
7774	5	Boeing    	Singapore                	London                   	1900-01-01 14:00:00.000000	1900-01-01 06:00:00.000000
7775	5	Boeing    	London                   	Singapore                	1900-01-01 09:00:00.000000	1900-01-01 20:00:00.000000
7776	5	Boeing    	Singapore                	London                   	1900-01-01 18:00:00.000000	1900-01-01 08:00:00.000000
7777	5	Boeing    	London                   	Singapore                	1900-01-01 18:00:00.000000	1900-01-01 06:00:00.000000
7778	5	Boeing    	Singapore                	London                   	1900-01-01 22:00:00.000000	1900-01-01 12:00:00.000000
8881	5	Boeing    	London                   	Paris                    	1900-01-01 03:00:00.000000	1900-01-01 04:00:00.000000
8882	5	Boeing    	Paris                    	London                   	1900-01-01 22:00:00.000000	1900-01-01 23:00:00.000000

### 2. Визначити імена різних пасажирів, які коли-небудь летіли на одному і тому ж місці більше одного разу.
```
```
Довідка по темі:
* [Підзапити](http://www.sql-tutorial.ru/ru/book_subqueries.html)
* [Конструкція GROUP BY](http://www.sql-tutorial.ru/ru/book_group_by_clause.html)
* [Конструкція HAVING](http://www.sql-tutorial.ru/ru/book_having_clause.html)
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 6хв
```

### 3. Знайти кількість маршрутів, які обслуговуються найбільшим числом рейсів.
Зауваження:
* A - B і B - A вважати РІЗНИМИ маршрутами.
* Використовувати тільки таблицю Trip

```
```
Довідка по темі:
* [Конструкція GROUP BY](http://www.sql-tutorial.ru/ru/book_group_by_clause.html)
* [Конструкція HAVING](http://www.sql-tutorial.ru/ru/book_having_clause.html)
* [Використання ключових слів SOME (ANY) і ALL з предикатами порівняння](http://www.sql-tutorial.ru/ru/book_using_any_all_keywords_with_comparison_predicates.html)
* [Оператор CASE](http://www.sql-tutorial.ru/ru/book_case_statement.html)
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 6хв
```

In [ ]:
Moscow-Rostov
London-Singapore
Singapore-London
Rostov-Moscow

### 4. Знайти кількість маршрутів, які обслуговуються найбільшим числом рейсів.
Зауваження:
* A - B і B - A вважати ОДНИМ І ТИМ ЖЕ маршрутом.
* Використовувати тільки таблицю Trip

```
```
Довідка по темі:
* [Конструкція GROUP BY](http://www.sql-tutorial.ru/ru/book_group_by_clause.html)
* [Конструкція HAVING](http://www.sql-tutorial.ru/ru/book_having_clause.html)
* [Використання ключових слів SOME (ANY) і ALL з предикатами порівняння](http://www.sql-tutorial.ru/ru/book_using_any_all_keywords_with_comparison_predicates.html)
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 6хв
```

### 5. Серед тих, хто користується послугами тільки якоїсь однієї компанії, визначити імена різних пасажирів, що літали частіше за інших. Вивід: ім'я пасажира і число польотів.
```
```
Довідка по темі:
* [Підзапити](http://www.sql-tutorial.ru/ru/book_subqueries.html)
* [Конструкція GROUP BY](http://www.sql-tutorial.ru/ru/book_group_by_clause.html)
* [Конструкція HAVING](http://www.sql-tutorial.ru/ru/book_having_clause.html)
* [Явні операції з'єднання](http://www.sql-tutorial.ru/ru/book_explicit_join_operations.html)
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 6хв
```

In [ ]:
Mullah Omar         	4
Michael Caine       	4

### 6. Визначити дні, коли було виконано максимальне число рейсів з Ростова ('Rostov'). Вивід: число рейсів, дата.
```
```
Довідка по темі:
* [Явні операції з'єднання](http://www.sql-tutorial.ru/ru/book_explicit_join_operations.html)
* [Отримання підсумкових значень](http://www.sql-tutorial.ru/ru/book_getting_summarizing_values.html)
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 6хв
```

In [ ]:
3	2003-04-01 00:00:00.000000

### 7. Визначити пасажирів, які більше за інших часу провели в польотах. Вивід: ім'я пасажира, загальний час в хвилинах, проведений в польотах
```
```
Довідка по темі:
* [Явні операції з'єднання](http://www.sql-tutorial.ru/ru/book_explicit_join_operations.html)
* [Отримання підсумкових значень](http://www.sql-tutorial.ru/ru/book_getting_summarizing_values.html)
* [Використання ключових слів SOME (ANY) і ALL з предикатами порівняння](http://www.sql-tutorial.ru/ru/book_using_any_all_keywords_with_comparison_predicates.html)
* [Функції T-SQL для роботи з датами](http://www.sql-tutorial.ru/ru/book_tsql_datetime_functions.html)

```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 6хв
```

In [ ]:
1800	Harrison Ford

### 8. Для кожної компанії підрахувати кількість перевезених пасажирів (якщо вони були в цьому місяці) по декадах квітня 2003 року. При цьому враховувати тільки дату вильоту. Вивід: назва компанії, кількість пасажирів за кожну декаду.
```
```
Довідка по темі:
* [Конструкція GROUP BY](http://www.sql-tutorial.ru/ru/book_group_by_clause.html)
* [Оператор CASE](http://www.sql-tutorial.ru/ru/book_case_statement.html)
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 6хв
```

### 9. Для кожної компанії, яка перевозила пасажирів, підрахувати час, який провели в польоті літаки з пасажирами. Вивід: назва компанії, час у хвилинах.
```
```
Довідка по темі:
* [Функція DATEDIFF](http://www.sql-tutorial.ru/ru/book_datediff_function.html)
* [Оператор CASE](http://www.sql-tutorial.ru/ru/book_case_statement.html)
* [Явні операції з'єднання](http://www.sql-tutorial.ru/ru/book_explicit_join_operations.html)
* [Отримання підсумкових значень](http://www.sql-tutorial.ru/ru/book_getting_summarizing_values.html)
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 6хв
```

In [ ]:
780	British_AW
216	Aeroflot  
200	air_France
-422	Don_avia  
-1630	Dale_avia

### 10. Для всіх днів в інтервалі з 01/04/2003 по 07/04/2003 визначити число рейсів з Rostov. Вивід: дата, кількість рейсів
```
```
Довідка по темі:
* [Оператор CASE](http://www.sql-tutorial.ru/ru/book_case_statement.html)
* [Конструкція GROUP BY](http://www.sql-tutorial.ru/ru/book_group_by_clause.html)
* [Явні операції з'єднання](http://www.sql-tutorial.ru/ru/book_explicit_join_operations.html)
* [Генерація числової послідовності](http://www.sql-tutorial.ru/ru/book_number_sequence_generation.html)
```
```
```
```
```
```
```
Максимальна оцінка: 3 бали
Рекомендований час: 9хв
```

### 11. Визначити час, проведений в польотах, для пасажирів, що літали завжди на різних місцях. Вивід: ім'я пасажира, час у хвилинах.
```
```
Довідка по темі:
* [Явні операції з'єднання](http://www.sql-tutorial.ru/ru/book_explicit_join_operations.html)
* [Конструкція GROUP BY](http://www.sql-tutorial.ru/ru/book_group_by_clause.html)
* [Конструкція HAVING](http://www.sql-tutorial.ru/ru/book_having_clause.html)
* [Функція DATEDIFF](http://www.sql-tutorial.ru/ru/book_datediff_function.html)
```
```
```
```
```
```
```
Максимальна оцінка: 3 бали
Рекомендований час: 9хв
```

### 12. Вважаючи, що пункт самого першого вильоту пасажира є місцем проживання, знайти не москвичів, які прилітали до Москви більше одного разу. Вивід: ім'я пасажира, кількість польотів до Москви.
```
```
Довідка по темі:
* [Підзапити](http://www.sql-tutorial.ru/ru/book_subqueries.html)
* [Конструкція GROUP BY](http://www.sql-tutorial.ru/ru/book_group_by_clause.html)
* [Конструкція HAVING](http://www.sql-tutorial.ru/ru/book_having_clause.html)
* [Явні операції з'єднання](http://www.sql-tutorial.ru/ru/book_explicit_join_operations.html)
```
```
```
```
```
```
```
Максимальна оцінка: 3 бал
Рекомендований час: 9хв
```

### 13. Нехай є деяка підмножина S множини цілих чисел. Назвемо "гіркою з вершиною N" послідовність чисел з S, в якій числа, менші ніж N, вибудовані (зліва направо без роздільників) спочатку в зростаючому порядку, а потім - в спадаючому, зі значенням N між ними. Наприклад, для S = {1, 2, ..., 10} гірка з вершиною 5 представляється такою послідовністю: 123454321. При S, що складається з ідентифікаторів всіх компаній, для кожної компанії побудувати "гірку", розглядаючи її ідентифікатор в якості вершини. Вважати ідентифікатори позитивними числами і врахувати, що в базі немає даних, при яких кількість цифр в "гірці" може перевищити 70. Вивід: id_comp, "гірка".
```
```
Довідка по темі:
* [Magic](https://i.ytimg.com/vi/eb8896qtFnY/maxresdefault.jpg)
```
```
```
```
```
```
```
Максимальна оцінка: 5 балів
Рекомендований час: 15хв
```

## NoSQL

##### Відповідь до кожного завдання у цьому розділі записувати в наступну пусту строку в форматі MongoDB NoSQL запиту. Тобто: 
```
db.[collection_name].[action](query_params, ..).
```

Структура документу в колекції restaurants:
```
{
  "address": {
     "building": "1007",
     "coord": [ -73.856077, 40.848447 ],
     "street": "Morris Park Ave",
     "zipcode": "10462"
  },
  "borough": "Bronx",
  "cuisine": "Bakery",
  "grades": [
     { "date": { "$date": 1393804800000 }, "grade": "A", "score": 2 },
     { "date": { "$date": 1378857600000 }, "grade": "A", "score": 6 },
     { "date": { "$date": 1358985600000 }, "grade": "A", "score": 10 },
     { "date": { "$date": 1322006400000 }, "grade": "A", "score": 9 },
     { "date": { "$date": 1299715200000 }, "grade": "B", "score": 14 }
  ],
  "name": "Morris Park Bake Shop",
  "restaurant_id": "30075445"
}
```

**Дамп: [restaurants.json](https://github.com/dataroot/DRU-DS100-w3/tree/master/tests/3/v1/restaurants.json)**.

Приклад:
```
Питання:
Напишіть запит MongoDB, щоб відобразити всі документи в колекції restaurants.
```
```
Відповідь:
db.restaurants.find();
```

### 14. Напишіть запит MongoDB, щоб відобразити вcі ресторани, які знаходяться в районі Bronx.
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 3хв
```

In [ ]:
db.restaurants.find({"borough": "Bronx"})

### 15. Напишіть запит MongoDB, щоб знайти ресторани, у який не "American" кухня і досягли пункту "А" та не належить до району Brooklyn. Результат повинен відображатися відповідно до кухні у порядку спадання.
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 3хв
```

### 16. Напишіть запит MongoDB, щоб знайти ресторани, які досягли балів, більше 80, але менше 100.
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 3хв
```

### 17. Наведіть приклад корисного aggregate запиту для колекції restaurants та поясніть його.
```
```
```
```
```
```
```
Максимальна оцінка: 6 балів
Рекомендований час: 10хв
```